# Default ignored files
/shelf/
/workspace.xml
*.iml
*.xml
**/__pycache__/*
**/.idea/*
/log/
*.zip 
/venv/*
/venv2/*
/checkpoints/* 
/runs/* 


#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/results/res.txt
/gym-interceptor/gym_interceptor.egg-info/dependency_links.txt
/gym-interceptor/gym_interceptor.egg-info/requires.txt
/gym-interceptor/gym_interceptor.egg-info/SOURCES.txt
/gym-interceptor/gym_interceptor.egg-info/top_level.txt
